derived.rnc

start = Derived
L =
  element L {
    attribute depth { xsd:integer }
    | empty
  }
R =
  element R {
    attribute depth { xsd:integer }
    | empty
  }
S = element S { empty }
Symbol = element Symbol { text }
Symbols = element Symbols { Symbol* }
Textual = element Textual { L* & R* & S* & text* }

List = element List { List* & Symbol* }
ListSymbols = element ListSymbols { List* & Symbol* }

Derived = element Derived { Symbols, Textual, ListSymbols }
